<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">ComBoost</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#">Start</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Entity <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">ComBoost</a></li>
                        <li><a href="#">EntityFramework For ComBoost</a></li>
                        <li class="divider"></li>
                        <li><a href="#">ComBoost For Asp.Net Mvc</a></li>
                        <li><a href="#">Bootstrap For Mvc With ComBoost</a></li>
                        <li><a href="#">Unity For Mvc With ComBoost</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mvc <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">ComBoost For Asp.Net Mvc</a></li>
                        <li><a href="#">Bootstrap For Mvc With ComBoost</a></li>
                        <li><a href="#">Unity For Mvc With ComBoost</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Cache For ComBoost</a></li>
                        <li><a href="#">WCF For ComBoost With Cache</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cache <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Cache For ComBoost</a></li>
                        <li><a href="#">WCF For ComBoost With Cache</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>
