@model IPagination
@{
    string url = ViewContext.Controller.ControllerContext.HttpContext.Request.Url.PathAndQuery;
    url = Url.SetQueryPath(Url.ClearQueryPath(url, "page"), "size");
}
<div class="button-set no-spaces">
    @foreach (var item in Model.PageSizeOption)
    {
        <a data-nav="true" href="@Html.Raw(url + item)" class="button@(Model.CurrentSize == item ? " active" : "")">@item</a>
    }
</div>