@model MvcEditorModel
<div class="input-control email">
    <input type="email" id="@Model.Metadata.ClrName" name="@Model.Metadata.ClrName" value="@Model.Value" />
    <button class="btn-clear"></button>
</div>