@model MvcEditorModel
<div class="input-control file">
    <input type="file" class="form-control" id="@Model.Metadata.Property.Name" name="@Model.Metadata.Property.Name" value="@Model.Value" />
    <button class="btn-file"></button>
</div>