@model MvcEditorModel
<div class="input-control file">
    <input type="file" class="form-control" id="@Model.Metadata.ClrName" name="@Model.Metadata.ClrName" value="@Model.Value" />
    <button class="btn-file"></button>
</div>