@model MvcEditorModel
<div class="input-control text">
    <input type="url" id="@Model.Metadata.ClrName" name="@Model.Metadata.ClrName" value="@Model.Value" />
    <button class="btn-clear"></button>
</div>