@model MvcEditorModel
<div class="input-control password">
    <input type="password" id="@Model.Metadata.ClrName" name="@Model.Metadata.ClrName" value="@Model.Value" />
    <button class="btn-reveal"></button>
</div>