@model MvcEditorModel
<div class="input-control text">
    <input type="text" id="@Model.Metadata.Property.Name" name="@Model.Metadata.Property.Name" value="@Model.Value" />
    <button class="btn-clear"></button>
</div>