@model MvcEditorModel
<input type="text" class="form-control" id="@Model.Metadata.Property.Name" name="@Model.Metadata.Property.Name" value="@Model.Value"/>
<span id="@(Model.Metadata.Property.Name)_State" class="glyphicon glyphicon-remove form-control-feedback hide"></span>