@model MvcEditorModel
<div class="input-group">
    <span class="input-group-addon">+86</span>
    <input type="text" class="form-control" id="@Model.Metadata.Property.Name" name="@Model.Metadata.Property.Name" value="@Model.Value" />
</div>