@{ 
    ViewBag.Title = "用户注册";
}
<form class="form-horizontal" method="post" onsubmit="return checkForm();">
    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">用户名<span class="text-warning">*</span></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="username" name="username" value="@ViewBag.Username" />
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">密码<span class="text-warning">*</span></label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="password" name="password" />
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">确认密码<span class="text-warning">*</span></label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="repassword" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">注册</button>
            已有账号？点击
            <a href="@Html.Raw(Url.Action("SignIn"))">登录</a>。
        </div>
    </div>
</form>
<script type="text/javascript">
    function checkForm() {
        if ($('#username').val().trim() == '') {
            alert('用户名不能为空。');
            return false;
        }
        if ($('#password').val() == '') {
            alert('密码不能为空。');
            return false;
        }
        if ($('#password').val().length < 3) {
            alert('密码长度不能小于3。');
            return false;
        }
        if ($('#repassword').val() != $('#password').val()) {
            alert('两次输入的密码不一致。');
            return false;
        }
        return true;
    }
</script>