@model MvcEditorModel
<div class="input-group">
    <span class="input-group-addon">+86</span>
    <input type="text" class="form-control" id="@Model.Metadata.ClrName" name="@Model.Metadata.ClrName" value="@Model.Value" @Html.Raw(Model.Metadata.IsRequired ? "" : "required=\"required\"")/>
</div>