@model MvcEditorModel
<input type="text" class="form-control" id="@Model.Metadata.ClrName" name="@Model.Metadata.ClrName" value="@Model.Value"/>
<span id="@(Model.Metadata.ClrName)_State" class="glyphicon glyphicon-remove form-control-feedback hide"></span>
